@charset "UTF-8";
/* 
    Reset
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  box-sizing: border-box;
  color: #fff; }

.heading__primary--main {
  font-size: 5.5rem;
  font-weight: 900;
  letter-spacing: .5rem;
  text-transform: uppercase; }

.heading__primary--sub {
  font-size: 1.8rem;
  font-weight: 500;
  margin-top: 3rem;
  margin-bottom: 7rem; }

.services__heading {
  font-size: 4rem;
  font-weight: 400;
  text-align: center;
  letter-spacing: .4rem;
  color: #112d4e; }

.features__heading {
  font-size: 3rem;
  color: #112d4e;
  text-align: center;
  text-transform: uppercase;
  padding-top: 8rem;
  padding-bottom: 4rem; }

.quote {
  text-align: center;
  padding-top: 8rem; }
  .quote__title {
    font-size: 2.4rem;
    font-weight: 500;
    text-transform: uppercase;
    padding-top: 4rem;
    padding-bottom: 2rem; }
  .quote__paragraph {
    font-size: 2.6rem;
    font-weight: 100;
    padding-bottom: 6rem; }

.report__title {
  font-size: 4rem;
  color: #112d4e;
  text-align: center;
  margin-bottom: 1.5rem; }

.paragraph {
  font-size: 1.8rem;
  text-align: center;
  color: #112d4e;
  margin-bottom: 10rem; }

.u-pt-huge {
  padding-top: 10rem; }

.u-pb-small {
  padding-bottom: 2rem; }

.u-pb-medium {
  padding-bottom: 6rem; }

.bg-gradient-blue-gray {
  background-image: linear-gradient(to top left, #112d4e, #dbe2ef); }

.btn, .btn:link, .btn:visited {
  color: #fff;
  border: none;
  padding: 1.2rem 3rem;
  font-size: 1.6rem;
  font-weight: 500;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  transform: translateY(0);
  transition: all .2s ease;
  border-radius: .6rem; }

.btn-hover:hover {
  transform: translateY(-0.5rem);
  transition: all .2s ease; }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-1px); }

.btn-white {
  background-color: #fff;
  color: #112d4e; }

.btn--dark-blue {
  font-size: 1.2rem !important;
  background-color: #112d4e;
  border-radius: 3rem; }
  .btn--dark-blue:hover {
    box-shadow: 0.2rem 0.3rem 1rem rgba(0, 0, 0, 0.4); }

.btn-outline-white {
  border: 1px solid #fff !important; }
  .btn-outline-white:hover {
    transition: background-color .2s ease;
    background-color: #fff;
    color: #000000; }

.btn-gradient-blue {
  background-image: linear-gradient(to right, #112d4e, #f9f7f7); }

.card {
  height: 58rem;
  background-color: #fff;
  border-radius: 1rem;
  transform: translateY(0);
  transition: all .2s ease-in; }
  .card:hover {
    transform: translateY(-1rem);
    transition: all .2s ease; }
  .card__header {
    padding: 2rem;
    text-align: center; }
  .card__title {
    font-size: 2rem;
    font-weight: 500;
    text-transform: uppercase;
    color: #112d4e; }
  .card__sub {
    font-size: 1.5rem;
    text-align: center;
    color: #112d4e;
    padding-left: 4rem;
    padding-right: 4rem; }
  .card__pricing {
    text-align: center;
    color: #112d4e;
    font-size: 7rem;
    padding: 2rem 4rem; }
    .card__pricing-symbol {
      display: inline-block;
      font-size: 1.3rem; }
  .card__btn {
    display: flex;
    justify-content: center;
    align-items: center; }
  .card__list {
    font-size: 1.5rem;
    color: #112d4e;
    padding: 3rem 2rem;
    margin: 1.2rem 3rem;
    list-style-type: '✓';
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start; }
    .card__list__item::before {
      content: '';
      font-size: 1.5rem;
      color: #112d4e;
      margin-right: 1rem; }

.feature {
  display: flex;
  padding: 1.5rem 1.5rem; }
  .feature__box {
    align-self: center; }
  .feature__icon {
    height: 3.75rem;
    width: 5rem; }
  .feature__description {
    font-size: 1.6rem;
    margin-left: 3rem;
    width: 40rem;
    overflow: hidden; }
    .feature__description--title {
      font-weight: 700; }

.navbar {
  padding-top: 4rem;
  display: flex;
  justify-content: space-evenly; }
  .navbar__brand {
    align-self: center; }
  .navbar-nav {
    align-self: center; }

.nav {
  list-style-type: none; }
  .nav__home {
    font-size: 2rem;
    text-decoration: none;
    color: #fff; }
  .nav-item {
    float: right;
    font-size: 1.5rem;
    margin-right: 4rem; }
  .nav-link:link, .nav-link:visited {
    text-decoration: none;
    color: #fff; }

.container {
  max-width: 120.4rem;
  margin: 0 auto;
  padding-left: 3rem;
  padding-right: 3rem; }
  .container--fluid {
    margin: 0;
    max-width: 100%; }

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%; }

.col-1 {
  flex-basis: 8.33333%;
  padding-right: 3rem; }
  .col-1:last-child {
    padding-right: 1.5rem; }

.col-2 {
  flex-basis: 16.66667%;
  padding-right: 3rem; }
  .col-2:last-child {
    padding-right: 1.5rem; }

.col-3 {
  flex-basis: 25%;
  padding-right: 3rem; }
  .col-3:last-child {
    padding-right: 1.5rem; }

.col-4 {
  flex-basis: 33.33333%;
  padding-right: 3rem; }
  .col-4:last-child {
    padding-right: 1.5rem; }

.col-5 {
  flex-basis: 41.66667%;
  padding-right: 3rem; }
  .col-5:last-child {
    padding-right: 1.5rem; }

.col-6 {
  flex-basis: 50%;
  padding-right: 3rem; }
  .col-6:last-child {
    padding-right: 1.5rem; }

.col-7 {
  flex-basis: 58.33333%;
  padding-right: 3rem; }
  .col-7:last-child {
    padding-right: 1.5rem; }

.col-8 {
  flex-basis: 66.66667%;
  padding-right: 3rem; }
  .col-8:last-child {
    padding-right: 1.5rem; }

.col-9 {
  flex-basis: 75%;
  padding-right: 3rem; }
  .col-9:last-child {
    padding-right: 1.5rem; }

.col-10 {
  flex-basis: 83.33333%;
  padding-right: 3rem; }
  .col-10:last-child {
    padding-right: 1.5rem; }

.col-11 {
  flex-basis: 91.66667%;
  padding-right: 3rem; }
  .col-11:last-child {
    padding-right: 1.5rem; }

.col-12 {
  flex-basis: 100%;
  padding-right: 3rem; }
  .col-12:last-child {
    padding-right: 1.5rem; }

.header {
  height: 95vh;
  background-image: url("../../img/hero.jpg");
  background-size: cover;
  background-position: top;
  position: relative; }
  .header__text-box {
    position: absolute;
    top: 48%;
    left: 25%;
    transform: translate(-50%, -50%);
    width: 70rem; }

.section-learning {
  background-color: #eee;
  padding-top: 12rem;
  padding-bottom: 12rem; }
  .section-learning__img {
    width: 100%;
    max-width: 55rem; }
  .section-learning-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 3rem; }
  .section-learning__title {
    font-size: 4rem;
    font-weight: 700;
    color: #112d4e;
    margin-bottom: 2rem; }
  .section-learning__paragraph {
    font-size: 2rem;
    font-weight: 300;
    color: #112d4e; }

.section-ai {
  padding-top: 12rem;
  padding-bottom: 12rem; }
  .section-ai__img {
    width: 100%;
    max-width: 55rem; }
  .section-ai-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 4rem; }

.section-analysis {
  background-color: #eee;
  padding-top: 12rem;
  padding-bottom: 12rem; }
  .section-analysis__img {
    display: block;
    width: 100%;
    max-width: 55rem;
    margin: 0 auto;
    overflow: hidden; }

.section-pricing {
  background-color: #112d4e;
  padding-top: 12rem;
  padding-bottom: 12rem; }
  .section-pricing-wrapper {
    text-align: center;
    margin-bottom: 6rem; }
  .section-pricing__heading {
    font-size: 5.2rem;
    display: inline-block; }

.section-partners {
  background-color: #eee;
  padding-top: 6rem;
  padding-bottom: 6rem; }
  .section-partners-wrapper {
    text-align: center;
    margin-bottom: 6rem; }
  .section-partners__heading {
    font-size: 3.2rem;
    display: inline-block;
    color: #112d4e; }

.partners {
  display: flex;
  justify-content: center;
  align-items: center; }
  .partners__icon {
    height: 8.5rem;
    width: 6.5rem;
    margin-right: 4rem;
    opacity: .5;
    cursor: pointer;
    transition: opacity .3s ease-out; }
    .partners__icon:hover {
      opacity: 1;
      transition: opacity .2s ease; }
