@charset "UTF-8";
/* 
    0 - 600px:    Phone
    600 - 900px:  tablet portrait
    900 - 1200px: tablet landscape
    1200 - 1800 normal styles only
    1800px:       Big Desktop
*/
/* 
    $breakpoint - phone, tablet, desktop

    1em = 16px

    600 / 16 = 37.5em
*/
@keyframes slideInFromBottom {
  0% {
    opacity: 0;
    transform: translateY(-10rem); }
  70% {
    transform: translateY(2rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(5rem); }
  to {
    opacity: 1;
    transform: translateX(0); } }

/* 
    Reset
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }
  @media screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  box-sizing: border-box;
  color: #fff; }

.heading__primary--main {
  font-size: 5.5rem;
  font-weight: 900;
  letter-spacing: .5rem;
  text-transform: uppercase; }

.heading__primary--sub {
  font-size: 1.8rem;
  font-weight: 500;
  margin-top: 3rem;
  margin-bottom: 7rem; }

.services__heading {
  font-size: 4rem;
  font-weight: 400;
  text-align: center;
  letter-spacing: .4rem;
  color: #112d4e; }

.features__heading {
  font-size: 3rem;
  color: #112d4e;
  text-align: center;
  text-transform: uppercase;
  padding-top: 8rem;
  padding-bottom: 4rem; }

.quote {
  text-align: center;
  padding-top: 8rem; }
  .quote__title {
    font-size: 2.4rem;
    font-weight: 500;
    text-transform: uppercase;
    padding-top: 4rem;
    padding-bottom: 2rem; }
  .quote__paragraph {
    font-size: 2.6rem;
    font-weight: 100;
    padding-bottom: 6rem; }
    @media screen and (max-width: 56.25em) {
      .quote__paragraph {
        font-size: 2rem;
        padding-bottom: 3rem; } }

.report__title {
  font-size: 4rem;
  color: #112d4e;
  text-align: center;
  margin-bottom: 1.5rem; }

.paragraph {
  font-size: 1.8rem;
  text-align: center;
  color: #112d4e;
  margin-bottom: 10rem; }

.u-pt-huge {
  padding-top: 10rem; }

.u-pb-small {
  padding-bottom: 2rem; }

.u-pb-medium {
  padding-bottom: 6rem; }

.u-link:link, .u-link:visited {
  color: #fff;
  text-decoration: none; }

.u-fade-in {
  opacity: 0;
  transition: opacity 250ms ease-in; }

.u-fade-in-appear {
  opacity: 1; }

.u-slideInFromBottom {
  animation-name: slideInFromBottom;
  animation-duration: 1s;
  animation-timing-function: ease-in; }

.u-body-hidden {
  overflow: hidden; }

.btn, .btn:link, .btn:visited {
  color: #fff;
  border: none;
  padding: 1.2rem 3rem;
  font-size: 1.6rem;
  font-weight: 500;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  transform: translateY(0);
  transition: all .2s ease;
  border-radius: .6rem; }

.btn-hover:hover {
  transform: translateY(-0.5rem);
  transition: all .2s ease; }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-1px); }

.btn-white {
  background-color: #fff;
  color: #112d4e;
  opacity: 1; }
  .btn-white:hover {
    opacity: 0.8; }

.btn--dark-blue {
  font-size: 1.2rem !important;
  background-color: #112d4e;
  border-radius: 3rem; }
  .btn--dark-blue:hover {
    box-shadow: 0.2rem 0.3rem 1rem rgba(0, 0, 0, 0.4); }

.btn-outline-white {
  border: 1px solid #fff !important; }
  .btn-outline-white:hover {
    transition: background-color .2s ease;
    background-color: #fff;
    color: #000000; }

.card {
  height: 58rem;
  background-color: #fff;
  border-radius: 1rem;
  transform: translateY(0);
  transition: all .2s ease-in;
  backface-visibility: hidden; }
  .card:hover {
    transform: translateY(-1rem);
    transition: all .2s ease; }
  .card__header {
    padding: 2rem;
    text-align: center; }
  .card__title {
    font-size: 2rem;
    font-weight: 500;
    text-transform: uppercase;
    color: #112d4e; }
  .card__sub {
    font-size: 1.5rem;
    text-align: center;
    color: #112d4e;
    padding-left: 4rem;
    padding-right: 4rem; }
  .card__pricing {
    text-align: center;
    color: #112d4e;
    font-size: 7rem;
    padding: 2rem 4rem; }
    .card__pricing-symbol {
      display: inline-block;
      font-size: 1.3rem; }
  .card__btn {
    display: flex;
    justify-content: center;
    align-items: center; }
  .card__list {
    font-size: 1.5rem;
    color: #112d4e;
    padding: 3rem 2rem;
    margin: 1.2rem 3rem;
    list-style-type: '✓';
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start; }
    .card__list__item::before {
      content: '';
      font-size: 1.5rem;
      color: #112d4e;
      margin-right: 1rem; }

.feature {
  display: flex;
  padding: 1.5rem 1.5rem; }
  .feature__box {
    align-self: center; }
  .feature__icon {
    height: 3.75rem;
    width: 5rem;
    color: #000000; }
  .feature__description {
    font-size: 1.6rem;
    margin-left: 3rem;
    width: 40rem;
    overflow: hidden; }
    .feature__description--title {
      font-weight: 700; }

.form {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 18rem;
  border-radius: 1rem;
  box-shadow: 0.4rem 0.4rem 3rem rgba(0, 0, 0, 0.8); }
  .form__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; }
  .form__group {
    margin-right: 2rem;
    margin-bottom: 2rem; }
  .form__title {
    display: inline-block;
    font-size: 3.4rem;
    font-weight: 500;
    font-family: inherit;
    margin-bottom: 5rem;
    color: #000000; }
  .form__label {
    display: block;
    font-size: 1.4rem;
    font-weight: 500;
    margin-top: .7rem;
    color: #000000; }
  .form__input {
    border: none;
    background: #f7f7f7;
    padding: 1.8rem;
    border-radius: .3rem;
    width: 25rem; }
    .form__input:focus {
      outline: none; }
  .form__btn {
    margin-top: 5rem;
    width: 100%; }
  .form__terms {
    margin-top: 3rem;
    font-size: 1.4rem;
    color: #000000; }
  .form__link {
    color: #3f72af; }

.navbar {
  padding-top: 4rem;
  display: flex;
  justify-content: space-between; }
  .navbar__brand {
    align-self: center; }
  .navbar-nav {
    align-self: center; }
  @media screen and (max-width: 56.25em) {
    .navbar-btn {
      display: none; } }

.nav {
  list-style-type: none; }
  @media screen and (max-width: 56.25em) {
    .nav {
      position: absolute;
      top: 10rem;
      left: 10%;
      z-index: 1;
      height: 90vh;
      width: 100%;
      background-color: #112d4e;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      transform: translateX(100%);
      transition: transform 0.5s ease-in; } }
  .nav__icon {
    height: 3.5rem;
    width: 3.5rem;
    margin-right: 3rem; }
  .nav__home {
    font-size: 2rem;
    text-decoration: none;
    color: #fff;
    margin-bottom: 3rem; }
  .nav-item {
    float: right;
    font-size: 1.5rem;
    margin-right: 4rem; }
    @media screen and (max-width: 56.25em) {
      .nav-item {
        font-size: 3rem;
        margin-top: 5rem;
        margin-bottom: 5rem; } }
  .nav-link:link, .nav-link:visited {
    text-decoration: none;
    color: #fff; }
  .nav-link:hover {
    border-bottom: 0.1rem solid #fff; }

.nav-active {
  transform: translateX(0%); }

.burger {
  display: none;
  align-self: center;
  cursor: pointer; }
  @media screen and (max-width: 56.25em) {
    .burger {
      display: block; } }

.burger > div {
  width: 3rem;
  height: .3rem;
  background-color: #fff;
  margin: .6rem;
  transition: all .3s ease; }

.toggle .line1 {
  transform: rotate(-45deg) translate(-0.5rem, 0.9rem); }

.toggle .line2 {
  opacity: 0; }

.toggle .line3 {
  transform: rotate(45deg) translate(-0.5rem, -0.8rem); }

.footer {
  background-color: #112d4e;
  padding: 9rem; }
  .footer__brand {
    font-size: 2.5rem;
    font-weight: 300; }
  .footer__list {
    list-style-type: none; }
  .footer__item {
    font-size: 1.4rem;
    margin-bottom: 1.1rem; }
  .footer__bottom {
    background-color: #00162f;
    padding: 2rem 0; }
    .footer__bottom-brand {
      text-align: center;
      font-size: 1.4rem;
      font-weight: 300; }

.container {
  max-width: 120.4rem;
  margin: 0 auto;
  padding-left: 3rem;
  padding-right: 3rem; }
  .container--fluid {
    margin: 0;
    max-width: 100%; }

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%; }
  @media screen and (max-width: 56.25em) {
    .row {
      flex-direction: column;
      justify-content: center;
      align-items: center; } }

.col-1 {
  flex-basis: 8.33333%;
  padding-right: 3rem; }
  @media screen and (max-width: 56.25em) {
    .col-1 {
      padding: 0rem 0rem 3rem 0rem; } }
  .col-1:last-child {
    padding-right: 1.5rem; }

.col-2 {
  flex-basis: 16.66667%;
  padding-right: 3rem; }
  @media screen and (max-width: 56.25em) {
    .col-2 {
      padding: 0rem 0rem 3rem 0rem; } }
  .col-2:last-child {
    padding-right: 1.5rem; }

.col-3 {
  flex-basis: 25%;
  padding-right: 3rem; }
  @media screen and (max-width: 56.25em) {
    .col-3 {
      padding: 0rem 0rem 3rem 0rem; } }
  .col-3:last-child {
    padding-right: 1.5rem; }

.col-4 {
  flex-basis: 33.33333%;
  padding-right: 3rem; }
  @media screen and (max-width: 56.25em) {
    .col-4 {
      padding: 0rem 0rem 3rem 0rem; } }
  .col-4:last-child {
    padding-right: 1.5rem; }

.col-5 {
  flex-basis: 41.66667%;
  padding-right: 3rem; }
  @media screen and (max-width: 56.25em) {
    .col-5 {
      padding: 0rem 0rem 3rem 0rem; } }
  .col-5:last-child {
    padding-right: 1.5rem; }

.col-6 {
  flex-basis: 50%;
  padding-right: 3rem; }
  @media screen and (max-width: 56.25em) {
    .col-6 {
      padding: 0rem 0rem 3rem 0rem; } }
  .col-6:last-child {
    padding-right: 1.5rem; }

.col-7 {
  flex-basis: 58.33333%;
  padding-right: 3rem; }
  @media screen and (max-width: 56.25em) {
    .col-7 {
      padding: 0rem 0rem 3rem 0rem; } }
  .col-7:last-child {
    padding-right: 1.5rem; }

.col-8 {
  flex-basis: 66.66667%;
  padding-right: 3rem; }
  @media screen and (max-width: 56.25em) {
    .col-8 {
      padding: 0rem 0rem 3rem 0rem; } }
  .col-8:last-child {
    padding-right: 1.5rem; }

.col-9 {
  flex-basis: 75%;
  padding-right: 3rem; }
  @media screen and (max-width: 56.25em) {
    .col-9 {
      padding: 0rem 0rem 3rem 0rem; } }
  .col-9:last-child {
    padding-right: 1.5rem; }

.col-10 {
  flex-basis: 83.33333%;
  padding-right: 3rem; }
  @media screen and (max-width: 56.25em) {
    .col-10 {
      padding: 0rem 0rem 3rem 0rem; } }
  .col-10:last-child {
    padding-right: 1.5rem; }

.col-11 {
  flex-basis: 91.66667%;
  padding-right: 3rem; }
  @media screen and (max-width: 56.25em) {
    .col-11 {
      padding: 0rem 0rem 3rem 0rem; } }
  .col-11:last-child {
    padding-right: 1.5rem; }

.col-12 {
  flex-basis: 100%;
  padding-right: 3rem; }
  @media screen and (max-width: 56.25em) {
    .col-12 {
      padding: 0rem 0rem 3rem 0rem; } }
  .col-12:last-child {
    padding-right: 1.5rem; }

.header {
  height: 97vh;
  background: #020024;
  background: linear-gradient(90deg, #020024 0%, #062087 73%);
  background-size: cover;
  background-position: top;
  position: relative; }
  .header__text-box {
    position: absolute;
    top: 40%;
    width: 70rem; }
    @media screen and (max-width: 56.25em) {
      .header__text-box {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center; } }
    @media screen and (max-width: 75em) {
      .header__text-box {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center; } }
  .header__image {
    position: absolute;
    top: 33%;
    left: 65%; }
    @media screen and (max-width: 56.25em) {
      .header__image {
        width: 25rem; } }
    @media screen and (max-width: 75em) {
      .header__image {
        width: 25rem; } }
    @media screen and (max-width: 37.5em) {
      .header__image {
        display: none; } }
  .header__img {
    width: 40rem; }
    @media screen and (max-width: 56.25em) {
      .header__img {
        width: 25rem; } }
    @media screen and (max-width: 75em) {
      .header__img {
        width: 25rem; } }
    @media screen and (max-width: 37.5em) {
      .header__img {
        display: none; } }

section {
  padding-top: 12rem;
  padding-bottom: 12rem; }

.section-heading-wrapper {
  text-align: center;
  margin-bottom: 6rem; }

.section-features {
  background-image: linear-gradient(to top left, #112d4e, #dbe2ef); }

.section-learning__img {
  width: 100%;
  max-width: 55rem; }

.section-learning-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 3rem; }
  @media screen and (max-width: 56.25em) {
    .section-learning-wrapper {
      align-items: center;
      margin-top: 4rem; } }

.section-learning__title {
  font-size: 4rem;
  font-weight: 700;
  color: #112d4e;
  margin-bottom: 2rem; }

.section-learning__paragraph {
  font-size: 2rem;
  font-weight: 300;
  color: #112d4e; }
  @media screen and (max-width: 56.25em) {
    .section-learning__paragraph {
      align-items: center;
      margin-top: 4rem;
      text-align: center; } }

.section-learning__more {
  width: 22%;
  transform: scale(1);
  transition: all .2s ease-out; }
  .section-learning__more:link, .section-learning__more:visited {
    font-size: 1.7rem;
    margin-top: 1.4rem;
    color: #112d4e;
    text-decoration: none; }
  .section-learning__more:hover {
    transform: scale(1.1);
    transition: all .2s ease-in; }
  @media screen and (max-width: 56.25em) {
    .section-learning__more {
      text-align: center; } }

.section-ai__img {
  width: 100%;
  max-width: 55rem; }

.section-ai-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 4rem; }
  @media screen and (max-width: 56.25em) {
    .section-ai-wrapper {
      align-items: center;
      margin-right: 0rem;
      margin-bottom: 4rem; } }

.section-analysis {
  background-color: #eee; }
  .section-analysis__img {
    display: block;
    width: 100%;
    max-width: 55rem;
    margin: 0 auto;
    overflow: hidden; }

.section-pricing {
  background-color: #112d4e; }
  .section-pricing__heading {
    font-size: 5.2rem;
    display: inline-block; }

.section-partners {
  background-color: #eee;
  padding-top: 6rem;
  padding-bottom: 6rem; }
  .section-partners__heading {
    font-size: 3.2rem;
    display: inline-block;
    color: #112d4e; }

.partners {
  display: flex;
  justify-content: center;
  align-items: center; }
  .partners__icon {
    height: 6.5rem;
    width: 5rem;
    color: #000000;
    margin-right: 4rem;
    opacity: .5;
    cursor: pointer;
    transition: opacity .3s ease-out; }
    .partners__icon:hover {
      opacity: 1;
      transition: opacity .2s ease; }

.section-customers {
  padding: 6rem 0rem;
  position: relative; }

.customers {
  margin-top: 4rem;
  box-shadow: 0 0 0.5rem 0.4rem rgba(0, 0, 0, 0.2);
  position: relative; }
  .customers-btn-left {
    position: absolute;
    top: 65%;
    left: 60rem;
    transform: translate(-50%, -50%);
    margin-top: -5rem;
    z-index: 4;
    animation-name: drifting-left;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    cursor: pointer; }
  .customers-btn-right {
    position: absolute;
    top: 65%;
    right: 60rem;
    transform: translate(-50%, -50%);
    margin-top: -5rem;
    z-index: 4;
    animation-name: drifting-right;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    cursor: pointer; }
  .customers-icon {
    width: 5rem;
    height: 5rem; }
  .customers-left {
    float: left;
    min-height: 5.2rem; }
  .customers-right {
    overflow: hidden;
    min-height: 5.2rem; }
  .customers-content {
    padding: 7rem 8rem;
    text-align: left; }
    .customers-content__content {
      font-size: 2.1rem;
      color: #112d4e; }
    .customers-content > h3 {
      font-size: 1.5rem;
      margin-top: 2rem;
      color: #112d4e; }
    .customers-content__company {
      font-size: 1.3rem;
      color: #777; }
    .customers-content::before {
      content: "\201C";
      position: absolute;
      font-size: 8rem;
      line-height: 1;
      top: 1.1rem;
      font-family: sans-serif;
      color: #112d4e; }

.section-cta {
  background-color: #112d4e;
  padding-top: 6rem;
  padding-bottom: 6rem;
  border-bottom: 0.1rem solid #fff; }

.cta__title {
  font-size: 4.8rem; }

.cta__content {
  font-size: 1.6rem;
  width: 75%; }

.cta__btns {
  margin-top: 6rem; }

.cta__inline {
  display: inline-block;
  margin-right: 2rem; }

.signup {
  background-image: linear-gradient(to right bottom, #00162f, #112d4e);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }
