//Primary color for site
$color-white: #fff;
$color-black: #000000;
$color-dark-blue: #112d4e;
$color-medium-blue: #3f72af;
$color-medium-gray: #dbe2ef;
$color-light-gray:#f9f7f7;
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

//Box shadow effect
$box-shadow: rgba(0,0,0,0.2);
$box-shadow-hover: rgba(0,0,0,0.4);

//GRID
$grid-cols: 12; // # of columns in the grid
$grid-bp-sm: 57.6rem; 
$grid-bp-md: 76.8rem;
$grid-bp-lg: 99.2rem;
$grid-bp-xl: 120rem;
$grid-bp-xxl: 140rem;