.btn {
    &,
    &:link,
    &:visited {
        color: $color-white;
        border: none;
        padding: 1.2rem 3rem;
        font-size: 1.6rem;
        font-weight: 500;
        display: inline-block;
        text-align: center;
        text-transform: uppercase;
        text-decoration: none;
        cursor: pointer;
        transform: translateY(0);
        transition: all .2s ease;
        border-radius: .6rem;
    }

    &-hover:hover {
        transform: translateY(-.5rem);
        transition: all .2s ease;
    }

    &:active,
    &:focus {
        outline: none;
        transform: translateY(-1px);
    }

    &-white {
        background-color: $color-white;
        color: $color-dark-blue;
        opacity: 1;

        &:hover {
            opacity: 0.8;
        }
    }

    &--dark-blue {
        font-size: 1.2rem !important;
        background-color: $color-dark-blue;
        border-radius: 3rem;
        &:hover {
            box-shadow: .2rem .3rem 1rem $box-shadow-hover;
        }
    }

    &-outline-white {
        border: 1px solid $color-white !important;

        &:hover {
            transition: background-color .2s ease;
            background-color: $color-white;
            color: $color-black;
        }
    }
}