.feature {
    display: flex;
    padding: 1.5rem 1.5rem;

    &__box {
        align-self: center;
    }

    &__icon {
        height: 3.75rem;
        width: 5rem;
    }

    &__description {
        font-size: 1.6rem;
        margin-left: 3rem;
        width: 40rem;
        overflow: hidden;

        &--title {
            font-weight: 700;
        }
    }
}