.navbar {
    padding-top: 4rem;
    display: flex;
    justify-content: space-evenly;

    &__brand {
        align-self: center;
    }

    &-nav {
        align-self: center;
    }
}

.nav {
    list-style-type: none;

    &__home {
        font-size: 2rem;
        text-decoration: none;
        color: $color-white;
    }

    &-item {
        float: right;
        font-size: 1.5rem;
        margin-right: 4rem;
    }

    &-link:link,
    &-link:visited {
        text-decoration: none;
        color: $color-white;
    }
}