@keyframes slideInFromBottom {
    0% {
        opacity: 0;
        transform: translateY(-10rem);
    }

    70% {
        transform: translateY(2rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(5rem);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slider {
    
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes sliderNegX {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}