.u-pt-huge {
    padding-top: 10rem;
}

.u-pb-small {
    padding-bottom: 2rem;
}

.u-pb-medium {
    padding-bottom: 6rem;
}

.u-link {
    &:link,
    &:visited {
        color: $color-white;
        text-decoration: none;
    }
}

.u-fade-in {
    opacity: 0;
    transition: opacity 250ms ease-in;
}

.u-fade-in-appear {
    opacity: 1;
}

.u-slideInFromBottom {
    animation-name: slideInFromBottom;
    animation-duration: 1s;
    animation-timing-function: ease-in;
}

.u-body-hidden {
    overflow: hidden;
}

.u-d-none {
    display: none;
}

.u-unactive {
    display: none;
}

.u-active {
    display: block;
}