.u-pt-huge {
    padding-top: 10rem;
}

.u-pb-small {
    padding-bottom: 2rem;
}

.u-pb-medium {
    padding-bottom: 6rem;
}

.bg-gradient-blue-gray {
    background-image: linear-gradient(to top left, $color-dark-blue, $color-medium-gray);
}