.signup {
    background-image: linear-gradient(to right bottom, $color-dark-blue-1, $color-dark-blue);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}