.container {
    max-width: 120.4rem;
    margin: 0 auto;
    padding-left: 3rem;
    padding-right: 3rem;

    &--fluid {
        margin: 0;
        max-width: 100%;
    }
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
}

@for $i from 1 through $grid-cols {
    .col-#{$i} {
        flex-basis: (100 / ($grid-cols / $i) ) * 1%;
        padding-right: 3rem;

        &:last-child {
            padding-right: 1.5rem;
        }
    }
}