.header {
    height: 97vh;

    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(6,32,135,1) 73%);   
    background-size: cover;
    background-position: top;
    position: relative;

    &__text-box {

        position: absolute;
        top: 40%;
        width: 70rem;

        @include respond(tab-port) {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
        }

        @include respond(tab-land) {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
        }
    }

    &__image {
        position: absolute;
        top: 33%;
        left: 65%;

        @include respond(tab-port) {
            width: 25rem;
        }

        @include respond(tab-land) {
            width: 25rem;
        }

        @include respond(phone) {
            display: none;
        }
    }

    &__img {
        width: 50rem;

        @include respond(tab-port) {
            width: 25rem;
        }

        @include respond(tab-land) {
            width: 25rem;
        }

        @include respond(phone) {
            display: none;
        }
    }
}