.header {
    height: 97vh;

    background-image: url('../img/hero.jpg');
    background-size: cover;
    background-position: top;
    position: relative;

    &__text-box {

        position: absolute;
        top: 40%;
        width: 70rem;

        @include respond(tab-port) {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
        }

        @include respond(tab-land) {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
        }
    }
}